/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

/* ****************************** */
/* My CSS Styles **************** */
/* ****************************** */

/* Variables */

:root {
  --fondo-base: #222;
  --fondo-contraste: #4e4e4e;
  --color: #ffffff;
  --color-acentado: #00ffff;
  --color-red: #ff0000;
  --color-orange: #ff8a00;
  --color-green: #05ff00;
  --border-radius: 5px;
}

/* Fonts */

.list-title {
  text-align: center;
  font-size: 0.8rem;
  padding-block: 0.5rem;
}

/* ****************************** */
/* Base styles */
/* ****************************** */

body {
  background-color: #333;
  color: var(--color);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
}
input::placeholder {
  opacity: 30%;
}

/* ****************************** */
/* Home Layout */
/* ****************************** */

.main-container {
  background-color: var(--fondo-base);
  position: relative;
  max-width: 412px;
  min-height: 100dvh;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

/* ****************************** */
/* Barra HEADER Componente        */
/* ****************************** */

.header-container {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 3rem;
  width: 100%;
  max-width: 412px;
  background-color: var(--fondo-contraste);
}
.header-container:first-child {
  justify-self: end;
}

/* ****************************** */
/* Edit Lists Component */
/* ****************************** */

.edit-lists-container {
  margin-block: 3rem 3.5rem;
}
.edit-lists-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* ****************************** */
/* Edit List Imput Componente, dentro de EditLists */
/* ****************************** */

.list-form-component {
  display: grid;
  grid-template-columns: 40px auto 40px 30px;
  align-items: center;
  margin-inline: 1rem;
  background-color: var(--fondo-contraste);
  padding: 1rem;
  border-radius: var(--border-radius);
}
.delete-btn,
.cancel-delete-btn {
  width: 25px;
  height: 25px;
  border: 5px solid var(--fondo-base);
  border-radius: 50%;
  cursor: pointer;
}
.cancel-delete-btn {
  background-color: red;
}
.list-form--num-items {
  justify-self: end;
  font-size: 1.3rem;
}
/* Este icon se usa en list details and reminder too */
.icono-flecha {
  justify-self: end;
  grid-column: -1 /-2;
}

/* ****************************** */
/* Settings Component */
/* ****************************** */

.ajustes-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2rem;
  padding: 3rem 1rem;
  margin-block: 3rem;
}
.logout-btn {
  color: var(--color-red);
}
.logout-span {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

/* ****************************** */
/* Barra FOOTER Componente*/
/* ****************************** */

.footer-container {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 3rem;
  width: 100%;
  max-width: 412px;
  background-color: var(--fondo-contraste);
  color: var(--color-acentado);
}

/* ****************************** */
/* New Reminder and detalle reminder stuff */
/* ****************************** */

.new-reminder-container {
  margin-block: 2rem;
  padding: 2rem 1rem;
}
.new-reminder-lista {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-element-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--fondo-contraste);
  border-radius: var(--border-radius);
}

.title-btn-container {
  display: flex;
}
.btn-guardar {
  padding-inline: 2rem;
  background-color: var(--color-orange);
  color: var(--fondo-base);
  font-weight: 700;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  transition: color ease-in-out 120ms;
}
.btn-guardar:hover {
  color: var(--color);
}
.btn-guardar:disabled {
  background-color: var(--fondo-base);
  color: var(--color-acentado);
  font-size: 0.8rem;
  border: 1px solid var(--fondo-contraste);
}

.delete-img {
  background-color: var(--fondo-contraste);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  align-self: start;
  margin-block: 1rem;
  color: var(--color-red);
  font-weight: 600;
}
.delete-img:hover {
  color: var(--color);
}

#title,
#note,
#date,
#time,
#select-list,
#flaged,
#image-upload {
  background-color: var(--fondo-contraste);
  padding: 0.5rem;
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
  font: inherit;
  margin: 0;
}
#title {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#title,
#note {
  padding: 1rem;
  width: 100%;
}
#note {
  height: 5.5rem;
}
#date,
#select-list,
#time {
  width: 10rem;
  height: 2.4rem;
  background-color: var(--fondo-base);
}

#date,
#time,
#select-list,
#flaged,
#image-upload {
  color: var(--color-acentado);
}
#flaged {
  height: 1.5rem;
  width: 1.5rem;
  color: antiquewhite;
  border: 2px solid var(--color);
  border-radius: var(--border-radius);
  display: grid;
  place-content: center;
  margin-right: 0.5rem;
}
#flaged::before {
  content: "";
  width: 1rem;
  height: 1rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1rem 1rem var(--color-acentado);
}
#flaged:checked::before {
  transform: scale(1);
}

#time::-webkit-calendar-picker-indicator,
#date::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}
#image-upload {
  padding: 1rem;
}
/* ****************************** */
/* Home Component */
/* ****************************** */

.home-container {
  padding: 0.5rem;
  margin-block: 3rem;
}
.home-list-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}

/* Tablero */
.tablero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}
.tablero-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--fondo-contraste);
  padding: 0.5rem;
  border-radius: var(--border-radius);
  cursor: pointer;
}
.tablero-card--firstrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .tablero-card--img {
  height: 1.7rem;
} */
.tablero-card--num {
  font-size: 1.7rem;
  font-weight: 700;
}
.tablero-card--date {
  font-size: 1.1rem;
}

/* ****************************** */
/* HomeListCard Component */
/* ****************************** */
.home-list-component {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--fondo-contraste);
  border-radius: var(--border-radius);
  padding: 1rem;
  font-size: 1.2rem;
}
.home-list-component--num {
  margin-left: auto;
  font-size: 1.5rem;
}
/* ****************************** */
/* LIST DETAILS Component */
/* ****************************** */
.list-details-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block: 3rem;
  padding-inline: 1rem;
}
/* ****************************** */
/* REMINDER CARD Component */
/* ****************************** */
.reminder-card-container {
  display: grid;
  grid-template-columns: 40px auto 30px 30px;
  align-items: center;
  background-color: var(--fondo-contraste);
  padding: 1rem;
  border-radius: var(--border-radius);
}
.reminder-card-flaged {
  justify-self: end;
  grid-column: -2 / -3;
}

/* ****************************** */
/* Login Form */
/* ****************************** */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-block: 3rem;
  margin-inline: auto;
  max-width: 412px;
}
.login-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 80%;
  background-color: var(--fondo-base);
  border-radius: var(--border-radius);
}
.login-container h1 {
  font-size: 1.5rem;
  font-weight: 600;
}
.login-form label {
  font-size: 0.8rem;
  color: var(--color-acentado);
  margin-bottom: 0.3rem;
}
.login-form input {
  padding: 0.5rem;
  border-radius: var(--border-radius);
  background-color: var(--fondo-contraste);
  border: none;
  font: inherit;
  margin-bottom: 1rem;
}
.login-form button {
  padding: 0.5rem;
  border-radius: var(--border-radius);
  background-color: var(--fondo-contraste);
  border: none;
  font: inherit;
  color: var(--fondo-base);
  background-color: var(--color-orange);
  font-weight: 700;
  transition: color ease-in-out 120ms;
  text-align: center;
  margin-top: 0.5rem;
  transition: scale ease-in-out 120ms;
}
.login-form button:hover {
  scale: 1.02;
}
.login-form button:disabled {
  background-color: var(--fondo-base);
  color: var(--fondo-contraste);
  font-size: 0.8rem;
  border: 1px solid var(--fondo-contraste);
  cursor: not-allowed;
}
.error {
  color: var(--color-red);
  font-size: 0.8rem;
  margin-top: 0.7rem;
}
.register-link {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 1rem;
  color: var(--color);
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  cursor: pointer;
}
